{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamingWorldSoftware</title>
    <link rel="stylesheet" href="{% static 'tienda/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>GamingWorldSoftware</h1>
        <nav>
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'productos' %}">Productos</a>
            <a href="{% url 'carrito' %}">Carrito</a>
            <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
    </header>s

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 GamingWorldSoftware</p>
    </footer>

    <script src="{% static 'tienda/js/scripts.js' %}"></script>
</body>
</html>
